* 
{
    margin: 0px;
    box-sizing: border-box;
}
body 
{
    background-color:rgb(39, 110, 138);
}
.background 
{
    height:208px;
    width: 328px;
    background-color: rgb(54, 53, 53);
    position:relative;
    padding: 4px;
    overflow:hidden;
    margin:5px;
    border-radius:10px;
    display:inline-block;

}
.background:hover .canvas
{
    background-color:black;

}
.background::before 
{
    content:"";
    height: 500px;
    width: 10px;
    background-color:rgb(0, 255, 255);
    transform: translate(0px, -280px) rotate(45deg) ;
    position:absolute;
}
.background:hover::before
{
    transform:rotate(45deg) translate(300px, -280px);
    transition-property:transform;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.5, 0.75, 0.5, 0.25);
}
.background::after
{
    content:"";
    height: 500px;
    width: 10px;
    background-color:rgb(0, 255, 255);
    transform: translate(328px, -280px) rotate(-45deg);
    position:absolute;
    
}
.background:hover::after
{
    transform:rotate(-45deg) translate(-110px, 100px);
    transition-property:transform;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.5, 0.75, 0.5, 0.25);
}
.background:hover 
{
    border-radius:10px 0px 10px 0px;
    transition:border-radius 1s linear;
}
.canvas
{
    height: 200px;
    width: 320px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color: white;
    background-color: rgb(44, 41, 41);
    overflow:hidden;
    position:fixed;
    border-radius:10px;
    padding:80px;
    z-index: 1;;

}